/* sliding image text 1 */
.carousel-caption .a1 {
	position: absolute;
	bottom: 660px;
	left: 70px;
	color: rgb(14, 13, 13);
	font-size: 2.5em;
}
.carousel-caption .a2 {
	position: absolute;
	bottom: 565px;
	left: 5px;
	right: 599px;
	color: black;
	font-size: 1.1em;
}

/* sliding image text 2  */
.carousel-caption .b1 {
	position: absolute;
	bottom: 660px;
	right: 25px;
	color: rgb(14, 13, 13);
	font-size: 2.3em;
}
.carousel-caption .b2 {
	position: absolute;
	bottom: 565px;
	right: 5px;
	left: 730px;
	color: black;
	font-size: 1.1em;
}

/* sliding image text 3 */
.carousel-caption .c1 {
	position: absolute;
	bottom: 660px;
	right: 50px;
	color: rgb(14, 13, 13);
	font-size: 2.5em;
}
.carousel-caption .c2 {
	position: absolute;
	bottom: 535px;
	right: 5px;
	left: 600px;
	color: black;
	font-size: 1.1em;
}

/* sliding image text 4 */
.carousel-caption .d1 {
	position: absolute;
	bottom: 660px;
	left: 300px;
	color: rgb(14, 13, 13);
	font-size: 2.5em;
}
.carousel-caption .d2 {
	position: absolute;
	bottom: 580px;
	color: black;
	font-size: 1.1em;
}

/* 3x2 Product Rack */
.card-img-top {
	background-color: rgb(245, 243, 243);
}

/* 3 Main Smartphone Image */
.card-img {
	background-color: rgb(238, 244, 245);
}
