#main-header{
    color: rgb(14, 0, 9);
    padding: 1px;
    padding-left: 100px;
}
body{
    background-color: rgb(220, 240, 252);
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-style: none;
    height: auto;
}

.block{
    float: left;
    width: 33.3%;
}

.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px;
}
  
.container {
   text-align: center;
   padding: 10px 20px;
}

#main-footer{
    text-align: center;
    font-size: small;
}