#main-header{
    color: rgb(14, 0, 9);
    padding: 1px;
    padding-left: 100px;
}
.opennavbar{
    right: 15px;
    font-size: 36px;
    margin-left: 85%;
    cursor:pointer
}
.sidenav {
    height: 121%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(50, 190, 245);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
 
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #111011;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
  
body{
    background-color: rgb(220, 240, 252);
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-style: none;
    height: auto;
}

.block{
    float: left;
    width: 20%;
}

.polaroid {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px;
}
  
.container {
   text-align: center;
   padding: 10px 20px;
}

#main-footer{
    text-align: center;
    font-size: small;
}